div(style="float: left")
  a(href="/") Home

  div(style="float: right")
    if (username && authenticated)
      a(href="/users/signout", style="margin: 10px") Sign Out
      a(href="/users/add_article", style="margin: 10px") Add Article
      a(href="/users/profile", style="margin: 10px") Profile
      span #{ username }
    else
      a(href="/users/signin", style="margin: 10px") Sign In
      a(href="/users/signup", style="margin: 10px") Sign Up
      a(href="/users/forget_password", style="margin: 10px") Forget Password