extends ../layout

block content
  div(id="auth-block")
    div
    h1 Forget Password
    form(name="forget_password", action="/apis/forget_password", method="post")
      fieldset
        div
          label(for="email") E-mail
          input(type="email", id="email", name="email", placeholder="Enter E-mail", required)
        div
          a(href="/users/signin") Return to sign in
          input(type="submit", name="submit", value="Submit")