extends ../layout

block content
  div(id="auth-block")
    div
    h1 Sign Up
    form(name="signup", action="/apis/login", method="post")
      fieldset
        div
          label(for="email") E-mail
          input(type="email", id="email", name="email", placeholder="Enter E-mail", required)
        div
          label(for="password") Password
          input(type="password", id="password", name="password", placeholder="Enter Password", required)
        div
          input(type="submit", name="submit", value="Sing Up")